Source: ros-hydro-roseus-smach
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-euslisp, ros-hydro-executive-smach, ros-hydro-roseus
Homepage: http://ros.org/wiki/roseus_smach
Standards-Version: 3.9.2

Package: ros-hydro-roseus-smach
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-euslisp, ros-hydro-executive-smach, ros-hydro-roseus
Description: roseus_smach * Euslisp state machine class. it will be moved. * Message publisher for visualizing current state by smach_viewer. * Simple pickle dump script for debugging state machine. * Execute state machine as a action server.
