Source: ros-jade-roseus
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), coreutils, ros-jade-actionlib, ros-jade-actionlib-msgs, ros-jade-actionlib-tutorials, ros-jade-angles, ros-jade-catkin, ros-jade-dynamic-reconfigure, ros-jade-euslisp, ros-jade-geneus, ros-jade-geometry-msgs, ros-jade-jskeus, ros-jade-message-generation, ros-jade-mk, ros-jade-rosbash, ros-jade-rosbuild, ros-jade-roscpp, ros-jade-roslang, ros-jade-rosmsg, ros-jade-rosnode, ros-jade-rospack, ros-jade-rostest, ros-jade-rostopic, ros-jade-sensor-msgs, ros-jade-std-msgs, ros-jade-std-srvs, ros-jade-tf, ros-jade-tf2-ros, ros-jade-visualization-msgs, xvfb
Homepage: http://pr.willowgarage.com/wiki/roseus
Standards-Version: 3.9.2

Package: ros-jade-roseus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-actionlib, ros-jade-actionlib-msgs, ros-jade-actionlib-tutorials, ros-jade-dynamic-reconfigure, ros-jade-euslisp, ros-jade-geneus, ros-jade-geometry-msgs, ros-jade-jskeus, ros-jade-message-runtime, ros-jade-rosbash, ros-jade-roscpp, ros-jade-roslang, ros-jade-rosmsg, ros-jade-rosnode, ros-jade-rospack, ros-jade-rostest, ros-jade-sensor-msgs, ros-jade-std-msgs, ros-jade-std-srvs, ros-jade-tf, ros-jade-tf2-ros, ros-jade-visualization-msgs
Description: EusLisp client for ROs Robot Operating System.
